<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Vue Dischi</title>
        <!-- font awesame -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <!-- vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- axios -->
        <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- css -->
        <link rel="stylesheet" href="css/main.css">
        <script src="js/script.js"></script>
    </head>
    <body>
        <div id="app" class="container">
            <div>
                <div class="genreBox">
                    <label for="genre">
                        Scegli il genere musicale
                    </label>
                    <select v-model="genre" name="genre" id="genre">
                        <option value="0">scegli il genere</option>
                        <option value="Rock"> Rock</option>
                        <option value="Metal"> Metal</option>
                        <option value="Pop"> Pop</option>
                        <option value="Jazz"> jazz</option>
                    </select>
                </div>
                <ul>
                    <li class="albumCard" 
                    v-for="album in albums"
                    v-if="genre!=album.genre" :class="hidden"
                    v-else :class="show">
                        <img :src=album.poster alt="cover art not found">
                        <div class="infoCard">
                            <h2>{{album.title}}</h2>
                            <h3>{{album.author}}</h3>
                            <span>{{album.genre}} , {{album.year}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>